.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-s);
    width: 100%;
    font-weight: var(--font-weight-normal);
    color: var(--color-primary-dark);
}