.header {
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    height: var(--topbar-height);
    width: 100%;
    padding: 0 var(--spacing-normal);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-m);
    color: var(--color-bg);
    z-index: 10;
}

.header__thin {
    font-weight: var(--font-weight-lighter);
}

.header__bold {
    font-weight: var(--font-weight-bold);
}

.header__logo {
    height: 32px;
}